<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="~/images/LOGO Fertivue icon.svg">
    <title>@PIVF.LanguageResource.Resources.lblvTitle</title>
    <link href="~/Content/Style.css?v=1.06" rel="stylesheet" />
    <link href="~/Content/dev.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body ng-app="PIVF" class="page_login"> 
    <div id="wrapper" ng-cloak>
        <!-- Page Content Area Start -->
        <div id="LoginPageContainer" class="PageContentDiv">
            @*<div id="signinBoxContainer" class="container">*@

            <div class="logoContainer">
                <div>
                    <h3 class="loginWelcomeHeaderText">@PIVF.LanguageResource.Resources.lblVWelcometo</h3>
                    @*<img src="../images/LOGOWhiteFertivue.svg" class="customLogo" alt="LOGOWhiteFertivue">*@
                    <img src="../images/NewFertivueLogo.svg" class="customLogo" alt="NewFertivueLogo">
                </div>
                <div>
                    <span class="loginFooter"> <span>@PIVF.LanguageResource.Resources.lblvFertivueVersion</span> | <span>@PIVF.LanguageResource.Resources.lblVTermsAndConditions</span> | <span>@PIVF.LanguageResource.Resources.lblvPrivacyPolicy</span></span>
                </div>
            </div>
            <div id="signinBoxContainer" >
                <div class="signin">
                    <div class="row-fluid">
                        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <div id="SignContainer">
                                <div class="SignInLogoContainer center-align-text" style="margin-bottom: 30px;">
                                    <!--<h2 class="center-align-text"></h2>-->
                                    @*<img src="~/images/Leberaa_logo.png" alt="PIVF logo" />*@
                                    @*<img src="~/images/Liberaa_logo_pink.png" alt="PIVF logo" />*@
                                    @*<img src="~/images/LOGO Fertivue.svg" alt="FertiVue logo" />*@
                                    <h1 class="LoginHeader">@PIVF.LanguageResource.Resources.lblvLogin</h1>
                                    <span class="LoginP">@PIVF.LanguageResource.Resources.lblvLoginTitleP</span>
                                </div>
                                <div class="SignInLogoContainer center-align-text">
                                    @RenderBody()
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Page Content Area End -->
        <footer>
            <div id="Footer" class="FooterContainer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                            <div class="FooterLogo">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/angularScripts")
    @*<script src="~/Scripts/AngularPackages/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/AngularPackages/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/AngularPackages/bootstrap.min.js"></script>
    <script src="~/Scripts/AngularPackages/dev.js"></script>

    <script src="~/Scripts/AngularPackages/angular.js"></script>
    <script src="~/Scripts/AngularPackages/angular-route.js"></script>
    <script src="~/Scripts/AngularUI/ui-bootstrap-tpls.min.js"></script>
    <script src="~/Scripts/AngularPackages/angular-local-storage.min.js"></script>
    <script src="~/Scripts/AngularPackages/ng-img-crop.js"></script>
    <script src="~/Scripts/AngularPackages/ng-file-upload-all.js"></script>
    <script src="~/Scripts/AngularPackages/angular-toasty.min.js"></script>
    <script src="~/Scripts/AngularPackages/SweetAlert.min.js"></script>
    <script src="~/Scripts/AngularPackages/ng-sweet-alert.min.js"></script>*@

    <script src="~/Scripts/app/app.js?v=9.28"></script>
    <script src="~/Scripts/app/app_designemr.js"></script>
    <script src="~/Scripts/app/controllers/homeController.js"></script>
    <script src="~/Scripts/app/controllers/Authentication/LayOutController.js"></script>
    <script src="~/Scripts/app/services/Common/srvCommon.js"></script>
    <script src="~/Scripts/app/services/Common/CommonService.js"></script>
    <script src="~/Scripts/app/services/Authentication/authService.js"></script>
    <script src="~/Scripts/app/services/Authentication/authInterceptorService.js"></script>
    <script src="~/Scripts/app/controllers/Authentication/loginController.js"></script>

    <script src="~/Scripts/AngularPackages/angular-linq.js"></script>
    @*<script src="~/Scripts/AngularPackages/webcam.js"></script>
    <script src="~/Scripts/AngularPackages/isteven-multi-select.js"></script>
    <script src="~/Scripts/AngularPackages/crumble.js"></script>*@

 
    @RenderSection("Scripts", required: false)


</body>
</html>
