@{ Layout = null;}

<style>
    .popover {
        background: #03a3f0 !important;
        width: auto;
        border: none;
    }

        .popover.top .arrow:after {
            border-top-color: #03a3f0 !important;
        }

    .popover {
    }

    .table-striped tr:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
</style>

<section ng-init="ddlPatientSearch();isView=false;isPatientSearch=true" ng-controller="RegistrationController">
    <!-- searchContainer -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="searchContainer" ng-init="show=true">
                <div class="customSearchTab">
                    <a href="" class="searchTab1 active" ng-class="{active:show}" ng-click="show=true;"><i class="fa fa-search" aria-hidden="true"></i> @PIVF.LanguageResource.Resources.btnSearch</a>
                    <a class="searchTab2" role="button" ng-class="{active:!show}" ng-click="show=false;ClearSearch()" data-toggle="collapse" data-target="#AdvanceSearchBox" aria-expanded="true" aria-controls="AdvanceSearchBox">
                        <i class="fa fa-search" aria-hidden="true"></i> <span class="CollapseTitleTxt">@PIVF.LanguageResource.Resources.lblAdvanceSearch</span>
                    </a>

                </div>
                <!-- Main Search Box Start -->
                <section class="MainSearchBoxContainer" ng-show="show">
                    <div class="BlackSearchBoxSection">
                        <div class="SearchInputGroupContainer">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        @*<input class="form-control " type="text" id="" placeholder="@PIVF.LanguageResource.Resources.lblMRNO" ng-model="Patient.MRNo" multi-validation="MRNoValidate" ng-keypress="($event.which === 13)?getPatientList(Patient):0">*@
                                        <select class="form-control" ng-model="Info.UnitID" ng-options="i.ID as i.Description for i in clinicList"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <select class="form-control" ng-model="Info.regTypeID" ng-options="i.ID as i.Description for i in regTypeList"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <input class="form-control alignRight" type="text" id="" placeholder="Name/MRN/Mobile No" ng-model="Info.FirstName" ng-keypress="ClearAdvSearch();($event.which === 13)?getPatientList():0">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <button id="" type="button" class="btn btn-primary" ng-click="ClearAdvSearch();getPatientList();" ng-keypress="($event.which === 13)?getPatientList():0">@PIVF.LanguageResource.Resources.btnSearch</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </section>
                <!-- Main Search Box End-->
                <!-- Advance Search Box Start -->
                <div class="MainSearchBoxContainer" ng-show="show==false">
                    <div class="BlackSearchBoxSection">
                        <div class="SearchInputGroupContainer">
                            <div class="row" id="">
                                @*<div class="col-sm-3">
                                        <div class="InputBoxDiv">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" id="txtRegFromDate" ng-model="Info.RegFromDate" placeholder="Registration Date - From" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup1.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats" ng-change="disableDate()">
                                                <span class="input-group-addon" id="spnRegFromDate" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="InputBoxDiv">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" id="txtRegToDate" ng-model="Info.RegToDate" placeholder="Registration Date - To" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup2.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats" ng-change="disableDate()">
                                                <span class="input-group-addon" id="spnRegToDate" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <label class="radio-inline"><input type="radio" ng-model="SearchBy" ng-value="1" name="optradio">By Registration Date</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-init="SearchBy=1">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <label class="radio-inline"><input type="radio" ng-model="SearchBy" ng-value="2" name="optradio">By Visit Date</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="txtVisFromDate" ng-model="FromDate" placeholder="Date - From" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup3.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats">
                                            <span class="input-group-addon" id="spnVisFromDate" ng-click="open3()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="txtVisToDate" ng-model="ToDate" placeholder="Date - To" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup4.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats">
                                            <span class="input-group-addon" id="spnVisToDate" ng-click="open4()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <select class="form-control" ng-model="Info.IdentityID" ng-options="i.ID as i.Description for i in IdPrppfTypeList" ng-change="validateIDProof(Info.IdentityID)"></select>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <input class="form-control " type="text" id="txtIdProofNo" placeholder="ID Proof No" ng-model="Info.IdentityNumber" multi-validation="{{Multivalidation}}" ng-keypress="ClearSearch();($event.which === 13)?getPatientList(Patient):0;" maxlength="30">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <select id="ddlPatientSourceOfReference" title="Source of Reference" ng-model="Info.SourceOfReferenceID" class="form-control"
                                                ng-options="i.ID as i.Description for i in SourceOfrefList" ng-change="getDoctorList(Info.SourceOfReferenceID)"></select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="InputBoxDiv">
                                        <select id="ddlPatientExternalDoctor" title="Referral Doctors" ng-model="Info.ReferredDoctorID" class="form-control"
                                                ng-options="i.ID as i.Description for i in DocList"></select>
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                            </div>
                            <!-- Advance Search Box End-->
                        </div>
                        <div class="SearchBtnContainer AdvSearchBtnContainer">
                            <div class="InputBoxDiv">
                                <button id="" type="button" class="btn btn-primary" ng-click="ClearSearch();getPatientList();" ng-keypress="($event.which === 13)?getPatientList():0">@PIVF.LanguageResource.Resources.btnSearch</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /searchContainer -->
        <div class="col-lg-12 col-md-12">
            <div class="form_Content p-t-10" style="height:420px;">
                <div class="row find_title">
                    <div class="col-sm-6">
                        <span>@PIVF.LanguageResource.Resources.Total_Count :</span>
                        <span class="total_count">{{TotalItems}}</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button class="btn-link" title="Print" ng-click="exportToExcel('#tableToExport')"><span class="glyphicon glyphicon-print" ng-hide="true"></span></button>
                        @*<button class="btn btn-primary" type="button" id="" value="Add" ng-click="newPatient()"> @PIVF.LanguageResource.Resources.btnNew</button>*@
                        <button class="btn-link" title="New" type="button" id="" value="Add" ng-click="newPatient()"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>
                    <div class="col-sm-12">
                        <div class="table-responsive fixed_header" id="tableToExport">
                            <table class="table table-hover table-striped" style="min-width:1500px;min-height:350px;max-height:350px;">
                                <thead>
                                    <tr>
                                        <th st-ratio="5">&nbsp;</th>
                                        @*<th st-ratio="5">@PIVF.Gemino.LanguageResource.Resources.lblActions</th>*@
                                        <th st-ratio="20">@PIVF.LanguageResource.Resources.lblPatientName @*Name*@</th>
                                        <th st-ratio="20">@PIVF.LanguageResource.Resources.lblSpouseName @*Partner*@</th>
                                        <th st-ratio="10">@PIVF.LanguageResource.Resources.lblCoupleId @*Couple Id*@</th>
                                        <th st-ratio="15">@PIVF.LanguageResource.Resources.lblAgeGender @*Age/Gender*@</th>
                                        <th st-ratio="15">@PIVF.LanguageResource.Resources.lblMobNo @*Mobile No*@</th>
                                        <th st-ratio="15">@PIVF.LanguageResource.Resources.lblClinicDate @*Clinic/Date*@</th>
                                        @*<th st-ratio="10">@PIVF.LanguageResource.Resources.lblSpecialRegistration @*Special Registration</th>*@ @*Commented by AniketK on 14Nov2019*@
                                    </tr>
                                </thead>
                                <tbody style="height:310px;">
                                    <tr ng-repeat="item in patientList" ng-click="setSelected(item.MRNo)" ng-class="{activeTRColor: item.MRNo === MRNo}">
                                        <td st-ratio="5" class="cycle_actions">
                                            <div class="dropdown">
                                                <a href="" class="dropdown-toggle" id="cycleAction_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="cycleAction_1">
                                                    <li><a class="cursorPointer" ng-click="viewPatient(item.ID,item.UnitID)" title="View Patient">View Patient</a></li>
                                                    <li><a class="cursorPointer" title="Personal Characteristics">Personal Characteristics</a></li>
                                                    <li ng-hide="true"><a href="" ng-click="" title="Print">Print</a></li>    @*ng-hide="true" added by Nayan kamble on 18/11/2019*@
                                                </ul>
                                            </div>
                                        </td>
                                        @*<td> <div class="arrowWrap" title="Actions"><span class="collapse-arrow collapsed" data-toggle="collapse" data-target="{{'#'+($index+1)}}"></span> </div> </td>*@
                                        <td st-ratio="20" class="Capitalize"><b>{{item.PatientName}}</b><br>{{item.MRNo}}</td>
                                        <td st-ratio="20" class="Capitalize"><b>{{item.PartnerName}}</b><br>{{item.PartnerMRN}}<span ng-if="item.PartnerName==null">-</span></td>
                                        <td st-ratio="10">{{item.Identity}}<span ng-if="item.Identity==null">-</span></td>
                                        <td st-ratio="15">{{item.Age}} yrs/ {{item.Gender}}</td>
                                        <td st-ratio="15">{{item.MobCountryCode}} {{item.MobileNo}}</td>
                                        <td st-ratio="15" class="Capitalize"><b>{{item.FileName}}</b><br>{{item.RegistrationDate | date:'dd-MMM-yyyy'}}</td>
                                        @*<td st-ratio="10" ng-class="item.IsSpecialReg?'okgreen':null"><i ng-class="item.IsSpecialReg?'fa fa-check':null" aria-hidden="true"></i><span ng-if="item.IsSpecialReg==0">-</span></td>*@ @*Commented by AniketK on 14Nov2019*@
                                    </tr>
                                    @*<tr class="AppointmentDetailTR " id="{{$index+1}}">
                                            <td colspan="11">
                                                <div class="ButtonsContainer text-left">
                                                    <button id="" type="button" class="btn btn-icon btn-secondary" title="View Patient"><i class="fa fa-eye" aria-hidden="true" ng-click="viewPatient(item.ID,item.UnitID)"></i></button>
                                                    <div class="dropdown">
                                                        <button id="" type="button" class="btn btn-icon btn-secondary" title="Print">
                                                            <span class="btn-icon"><span class="glyphicon glyphicon-print"></span></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                            <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="GridSpinner" spinner-start-active="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-12">
            <uib-pagination total-items="TotalItems" ng-model="CurrentPage" ng-change="getPatientList()" max-size="maxSize" class="pagination-sm  pull-left" boundary-links="true" num-pages="numPages" items-per-page="10" style="padding-right:14px;"></uib-pagination>
        </div>
        <!-- Button group row -->
    </div>
</section>
<div class="clearfix"></div>