@{
    Layout = null;
}

<div ng-init="IsPostBack=true" ng-controller="QueueController">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="searchContainer" ng-init="show=true">

                <div class="customSearchTab">
                    <a href="" class="searchTab1" ng-class="{active:show}" ng-click="show=true;ClearAdvSearch()"><i class="fa fa-search" aria-hidden="true"></i>@PIVF.LanguageResource.Resources.btnSearch</a>
                    <a class="searchTab2" ng-class="{active:!show}" role="button" data-toggle="collapse" ng-click="show=false;ClearSearch()" aria-expanded="true" aria-controls="AdvanceSearchBox">
                        <i class="fa fa-search" aria-hidden="true"></i> <span class="CollapseTitleTxt">@PIVF.LanguageResource.Resources.lblAdvanceSearch</span>
                    </a>

                </div>


                <!-- Main Search Box Start -->
                <div class="MainSearchBoxContainer" ng-show="show">
                    <div class="BlackSearchBoxSection" ng-init="LoadData()">
                        <div class="SearchInputGroupContainer">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="" ng-model="Que.Date" placeholder="@PIVF.LanguageResource.Resources.lblDate" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup1.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0">
                                            <span class="input-group-addon" id="" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="InputBoxDiv">
                                        <select class="form-control " id="" ng-model="Que.DeptID" ng-options="item.ID as item.Description for item in DeptList" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="InputBoxDiv">
                                        <select class="form-control" id="" ng-model="Que.DocID" ng-options="item.ID as item.Description for item in DocList" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="InputBoxDiv">
                                        <input class="form-control Capitalize" type="text" id="" ng-model="Que.PatientName" placeholder="@PIVF.LanguageResource.Resources.lbl_Name_PRNNo_MobNo_OPDNo" with="" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0">@*//Modified By Swati for Localization on 10/7/2020*@
                                        <!--<input class="form-control Capitalize" type="text" id="" ng-model="Que.PatientName" placeholder="Name/PRN No/Mob No/OPD No" with="" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0">-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="SearchBtnContainer">
                            <div class="InputBoxDiv">
                                <!--ng-disabled="!(Que.Date || Que.DeptID!=0 || Que.PatientName || Que.DocID!=0) ? true :false"-->
                                <button id="" type="button" class="btn btn-primary" ng-click="ClearAdvSearch();GetQueueList(Que)" ng-keypress="($event.which === 13)?GetQueueList(Que,false):0">@PIVF.LanguageResource.Resources.btnSearch</button>  @*ClearAdvSearch();*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Main Search Box End-->
                <!-- Advance Search Box Start -->
                <div class="MainSearchBoxContainer" ng-show="show==false">
                    <div class="BlackSearchBoxSection">
                        <div class="SearchInputGroupContainer">
                            <div class="row">
                                @*<div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <input class="form-control " type="text" id="" ng-model="Que.MRN" placeholder="MRN" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <input class="form-control alignRight" type="text" id="" ng-model="Que.MobNo" multi-validation="MobNoStartWith" ng-pattern="/^\d{10}$/" placeholder="@PIVF.LanguageResource.Resources.lblMobNo" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0" maxlength="10">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <input class="form-control " type="text" id="" ng-model="Que.TokenNo" placeholder="@PIVF.LanguageResource.Resources.lblTokenNo"  maxlength="5" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0()">
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <select class="form-control " id="" ng-model="Que.SpclRegID" ng-options="item.ID as item.Description for item in SpeclRegTypeList" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <input class="form-control" type="text" id="" ng-model="Que.OPDNo" placeholder="@PIVF.LanguageResource.Resources.lblOPDNo" replace="[^0-9]" with="" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0">
                                        </div>
                                    </div>*@

                                <div class="col-md-3 col-lg-3">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="" ng-model="Que.VisitFromDate" placeholder="@PIVF.LanguageResource.Resources.lblVisitFrom" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup2.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats">
                                            <span class="input-group-addon" id="" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3 ">
                                    <div class="InputBoxDiv">
                                        <div class="input-group date">
                                            <input type="text" class="form-control" id="" ng-model="Que.VisitToDate" placeholder="@PIVF.LanguageResource.Resources.lblVisitTo" aria-describedby="" uib-datepicker-popup="{{format}}" show-button-bar="false" is-open="popup3.opened" datepicker-options="dateOptionsDOB" alt-input-formats="altInputFormats" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0">
                                            <span class="input-group-addon" id="" ng-click="open3()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-lg-3 m-b-10">
                                    <div class="InputBoxDiv">
                                        <select class="form-control " id="" ng-model="Que.VisitStatusID" ng-options="item.ID as item.Type for item in VisitStatusList" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0"></select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="InputBoxDiv">
                                        <input class="form-control Capitalize" type="text" id="" ng-model="AdvPatientName" placeholder="@PIVF.LanguageResource.Resources.lbl_Name_PRNNo_MobNo_OPDNo" with="" ng-keypress="ClearSearch();($event.which === 13)?GetQueueList(Que,false):0">
                                        <!--<input class="form-control Capitalize" type="text" id="" ng-model="Que.PatientName" placeholder="Name/PRN No/Mob No/OPD No" with="" ng-keypress="ClearAdvSearch();($event.which === 13)?GetQueueList(Que,false):0">-->

                                    </div>
                                </div>

                                @*<div class="col-md-3 col-lg-3">
                                        <div class="InputBoxDiv">
                                            <button id="SearchAd" type="button" class="btn btn-primary" ng-click="ClearSearch();GetQueueList(Que,false)">@PIVF.LanguageResource.Resources.btnSearch</button> @ *ClearSearch();* @
                                        </div>
                                    </div>*@
                                @*<div class="col-md-12 col-lg-12 text-center">
                                            <div class="InputBoxDiv">
                                                <!- -ng-disabled="!(Que.MRN || Que.OPDNo || Que.TokenNo || Que.VisitStatusID!=0 || Que.MobNo || Que.SpclRegID!=0 || (Que.VisitFromDate && Que.VisitToDate)) ? true :false"- ->
                                                <button id="" type="button" class="btn btn-primary" ng-click="ClearSearch();GetQueueList(Que,false)"><span><i class="fa fa-search" aria-hidden="true"></i></span>@PIVF.LanguageResource.Resources.btnSearch</button>
                                            </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="SearchBtnContainer">
                            <div class="InputBoxDiv">
                                @*<button id="SearchAd" type="button" class="btn btn-primary" ng-click="ClearSearch();GetQueueList(Que,false)">@PIVF.LanguageResource.Resources.btnSearch</button>*@
                                <button id="SearchAd" type="button" class="btn btn-primary" ng-click="ClearSearch();GetQueueList(Que,false)">@PIVF.LanguageResource.Resources.btnSearch</button> @*ClearSearch();*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!-- Advance Search Box End-->
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="form_Content p-t-10">
                <div class="row">
                    <div class="find_title">
                        <div class="col-md-6">
                            <span class="count_title">@PIVF.LanguageResource.Resources.Total_Count :</span>
                            <span class="total_count">{{TotalItems}}</span>
                        </div>
                        @*<div class="col-md-6 text-right">
                                <button class="btn-link" ng-click="GetQueueList(Que,true)"><span class="glyphicon glyphicon-print"></span></button>
                            </div>*@
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive fixed_header" id="tableToExport">
                            <table class="table table-hover table-striped" style="min-width:1500px;height: calc(100vh - 400px);">
                                @*height:380px;*@
                                <thead>
                                    <tr>
                                        <th st-ratio="10">&nbsp;</th>
                                        @*<th st-ratio="7">@PIVF.LanguageResource.Resources.lblTokenNo</th>*@
                                        @*<th st-ratio="7">@PIVF.LanguageResource.Resources.lblCabin</th>*@
                                        <th st-ratio="7">@PIVF.LanguageResource.Resources.lblDate</th>
                                        <th st-ratio="9">@PIVF.LanguageResource.Resources.lblOPDNo</th>
                                        <th st-ratio="13">@PIVF.LanguageResource.Resources.lblPatientName</th>
                                        @*<th st-ratio="7">PRN</th>*@
                                        <th st-ratio="14">@PIVF.LanguageResource.Resources.lblSpouseName</th>@*//Modified by SwatiH for Localization on 10/7/2020*@
                                        <th st-ratio="6">@PIVF.LanguageResource.Resources.lblCoupleId</th>@*//Modified by SwatiH for Localization on 10/7/2020*@
                                        <th st-ratio="6">@PIVF.LanguageResource.Resources.lblAgeGender</th>@*//Modified by SwatiH for Localization on 10/7/2020*@
                                        <th st-ratio="13">@PIVF.LanguageResource.Resources.lblDoctor-@PIVF.LanguageResource.Resources.lblDepartment</th>
                                        <th st-ratio="11">@PIVF.LanguageResource.Resources.lblVisitType</th>
                                        @*<th st-ratio="6">@PIVF.LanguageResource.Resources.lblVisitStatus</th>*@
                                        @*<th st-ratio="7">@PIVF.LanguageResource.Resources.lblDepartment</th>*@
                                        @*<th st-ratio="7">@PIVF.LanguageResource.Resources.lblRemark</th>*@
                                        @*<th st-ratio="5">@PIVF.LanguageResource.Resources.lblCloseVisit</th>*@
                                        <th st-ratio="6">&nbsp;</th>
                                        <th st-ratio="6">&nbsp;</th>
                                        <th st-ratio="4">@PIVF.LanguageResource.Resources.lblRemark</th>@*//Modified By SwatiH for Localization on 10/7/2020*@
                                    </tr>
                                </thead>
                                <tbody style="height: calc(100vh - 435px);">
                                    <tr class="parent_row" ng-click="HighliteRow($index)" ng-repeat="item in QueueList" ng-class="{activeTRColor: high==$index}">
                                        <td st-ratio="10">
                                            <a class="link p-r-5" href="" ng-click="MRNoClick(item,'ART')" ng-show="item.CoupleID !== null || (item.PatientCategoryID !== 9 && item.PatientCategoryID !== 10)">@PIVF.LanguageResource.Resources.lblART</a>@*ART ::Modified by swatih for localization 31/7/2020*@
                                            <a class="link p-r-5" href="" ng-click="MRNoClick(item,'EMR')">@PIVF.LanguageResource.Resources.lblEMR</a>@*EMR :: Modified by swatih for localization 28/7/2020*@
                                            <a class="link" href="" ng-click="MRNoClick(item,'Partner')" ng-show="item.PatientCategoryID==14 && LinkConfig.IsLinkPartnerConfig">@PIVF.LanguageResource.Resources.lblLinkPartner</a> @*Link partner ::Modified by swatih for localization 31/7/2020*@
                                            <a class="link" href="" ng-click="MRNoClick(item,'Bill')">@PIVF.LanguageResource.Resources.lblBill</a>    @*Added by Nayan Kamble on 31/12/2019*@@*Bill :: Modified by swatih for localization 28/7/2020*@
                                            <a title="@PIVF.LanguageResource.Resources.lblvVideoConsultation" ng-show="item.VisitTypeID==12"><span class="glyphicon glyphicon-facetime-video"></span></a>
                                        </td>
                                        @*<td st-ratio="7">{{item.TokanNo}}</td>*@
                                        @*<td st-ratio="7">{{item.Cabin}}</td>*@
                                        <td st-ratio="7">{{item.Date | date:'dd-MMM-yyyy'}}<br /><b> {{item.Date | date:'hh:mm'}}</b></td>      @*{{item.InTime | date:'hh:mm'}}*@
                                        <td st-ratio="9">{{item.OPDNO}}</td>
                                        <td st-ratio="13" class="Capitalize">{{item.Prefix}} {{item.PatientName}}<br /><b> {{item.MRNo}} </b> </td>
                                        @*<td st-ratio="7">{{item.MRNo}}</td>*@
                                        <td st-ratio="14" class="Capitalize">{{item.PartnerName}} </td>
                                        <td st-ratio="6">{{item.CoupleID}}</td>
                                        <td st-ratio="6">{{item.Age}} yrs<br /><b>{{item.Gender}}</b></td>
                                        <td st-ratio="13">{{item.DoctorName}}<br /><b>{{item.Department}}</b></td>
                                        <td st-ratio="11">{{item.VisitType}}</td>
                                        @*<td st-ratio="6">{{item.VisitStatus}}</td>*@
                                        @*<td st-ratio="7">{{item.Description}}</td>*@
                                        @*<td st-ratio="7">{{item.Remarks}}</td>*@
                                        @*<td st-ratio="5" class="text-center">
                                                <input type="checkbox" ng-disabled="item.IsVisitClosed1" ng-model="item.IsVisitClosed" ng-click="CloseVisit(item);">
                                            </td>*@
                                        <td st-ratio="6">
                                            <a class="link" href="" ng-click="MRNoClick(item,'donor')" ng-show="item.PatientCategoryID==11 && LinkConfig.IsMarkDonerConfig">@PIVF.LanguageResource.Resources.lblMarkDonor</a>@*Mark Donor :: Modified by swatih for localization 28/7/2020*@
                                        </td>
                                        <td st-ratio="6">
                                            <a class="link" href="" ng-click="MRNoClick(item,'surrogate')" ng-show="item.PatientCategoryID==11 && item.Gender=='Female' && MarkSurrogate=='true' ">@PIVF.LanguageResource.Resources.lblMarkSurrogate</a>    @*&& ClientID==4*@ @*Mark Surrogate :: Modified by swatih for localization 28/7/2020*@
                                        </td>
                                        <td st-ratio="4">
                                            <button ng-attr-type="button" class="btn btn_edit" title="@PIVF.LanguageResource.Resources.lblAddRemark" ng-click="SaveVisitRemark(item,$index)"></button>  @*data-toggle="modal" data-target="#remarkModal"*@
                                            <button ng-attr-type="button" class="btn btn_view clinicList" title="@PIVF.LanguageResource.Resources.lblvViewRemark" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-eye-open"></span></button>
                                            <div class="hoverabsDiv" style="background:#ffffff">
                                                @*class="hoverabsDiv"*@
                                                {{item.Complaints}}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <uib-pagination total-items="TotalItems" ng-model="CurrentPage" ng-change="PageChange()" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="10" first-text="@PIVF.LanguageResource.Resources.lblFirst" previous-text="@PIVF.LanguageResource.Resources.lblPrevious" next-text="@PIVF.LanguageResource.Resources.lblNext" last-text="@PIVF.LanguageResource.Resources.lblLast"></uib-pagination>
                        <!-- Button group row -->
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="GridSpinner" spinner-start-active="true"></span>
</div>
<div class="clearfix"></div>
<!-- Page Content End -->
<!-- page-wrapper End -->

<script type="text/ng-template" id="AddInfo">
    @*<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog  modal-md">*@
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="ReasonCancel();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">@PIVF.LanguageResource.Resources.lblAdditionalInformation</h4>
        </div>
        <div class="modal-body" id="ViewQuePatient">
            <!-- Modal content Patient Info Start -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="BlueWrap">
                        <div class="ProfileImgWrap">
                            <img ng-if="Pat.PhotoString !=''" ng-src="{{Pat.PhotoString}}" class="profile">
                            <img ng-if="Pat.PhotoString =='' && Pat.GenderId==1" ng-src="../images/Male_default.jpg" class="profile">
                            <img ng-if="Pat.PhotoString =='' && Pat.GenderId==2" ng-src="../images/Female_default.jpg" class="profile">
                        </div>
                        <div class="ProfileInfoWrap">
                            <p class="m-b-0">
                                <span class="PatientName p-l-20">{{Pat.Prefix}}</span>
                                <span class="PatientName">{{Pat.PatientName}}</span>
                            </p>
                            <ul class="profile-data">
                                <li>
                                    <div class="iconInfoLine">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                        <!-- <img src="images/Icon_UAppointment.png" alt="Appointment"> -->
                                        <span class="LinkName">{{Pat.MobileCountryCode}} {{Pat.ContactNo1}}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="iconInfoLine">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                        @*<span class="LinkName" ng-if="Pat.AltMobNo !=''"> {{Pat.AltMobNoCntryCode}}</span>*@
                                        <span class="LinkName"> {{Pat.ContactNo2}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-horizontal">
                <div class="col-lg-12 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 control-label " for="">@PIVF.LanguageResource.Resources.lblRefDoc :</label>
                        <label class="col-lg-8 col-md-8 col-sm-8 control-label  p-l-0" for="">{{Pat.ReferredDoctor}}</label>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 control-label " for="">@PIVF.LanguageResource.Resources.lblVisitTime :</label>
                        <label class="col-lg-8 col-md-8 col-sm-8 control-label  p-l-0" for="">{{Pat.InTime | date: 'hh:mm a'}}</label>
                    </div>
                </div>
                @*<div class="col-lg-12 col-md-6">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 col-sm-4 control-label InfoTitle" for="">@PIVF.LanguageResource.Resources.lblSpecialRegistration :</label>
                            <label class="col-lg-8 col-md-8 col-sm-8 control-label InfoData p-l-0" for="">{{Pat.SpecialReg}}</label>
                        </div>
                    </div>*@

                <div class="col-lg-12 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 col-sm-4 control-label " for="">@PIVF.LanguageResource.Resources.lblVisitMarkedby :</label>
                        <label class="col-lg-8 col-md-8 col-sm-8 control-label p-r-0 p-l-0" for="">{{Pat.VisMarkedBy}}</label>
                    </div>
                </div>
            </div>
            <!-- Modal content Patient Info End -->
        </div>
    </div>
    @*</div>
        </div>*@
</script>

@*Link Partner Start*@
<script type="text/ng-template" id="LinkPartner">
    <div>
        <div class="modal-header">
            <button type="button" class="close" ng-click="ResetLinkPartner('Cancel')"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">@PIVF.LanguageResource.Resources.lblLinkPartner</h4>@*Link Partner :: Modified by swatih for localization 28/7/2020*@
        </div>
        <div class="modal-body">
            <div class="searchContent form_Content m-t-0 p-0" style="border:none;">
                <div class="row form-horizontal">
                    <!-- feMale visit-->
                    <div class="col-lg-12" ng-hide="IsMale">
                        <div class="PatientInfoWrapper">
                            <div class="BlueWrap" style="min-height:80px;">
                                <div class="ProfileImgWrap">
                                    @*<img ng-if="PatientData.PhotoString !=''" ng-src="{{PatientData.PhotoString}}" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==1" ng-src="../images/Male_default.jpg" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==2" ng-src="../images/Female_default.jpg" class="profile">*@
                                    <img src="../images/Female_default.jpg" class="profile">
                                </div>
                                <div class="ProfileInfoWrap">
                                    <p class="m-b-0">

                                        <span class="Capitalize PatientName">{{CoupleDetails.FemalePatient.FemalePatientName}}</span>
                                        <span class="MRN-Green">
                                            <span>{{CoupleDetails.FemalePatient.FemaleMRNO}}</span>
                                        </span>
                                        <span class="patient-gander p-l-5">@PIVF.LanguageResource.Resources.lblFemale /</span>@*Female :: Modified by swatih for localization 28/7/2020*@
                                        <span class="patient-gander">{{CoupleDetails.FemalePatient.FemaleAgeInYr}} @PIVF.LanguageResource.Resources.lblYrs</span>@*Yrs :: Modified by swatih for localization 28/7/2020*@
                                        @*<span class="patient-gander iconInfoLine">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment"> -->
                                                    <span class="LinkName">mo1</span>
                                                </span>
                                                <span class="patient-gander iconInfoLine" ng-show="PatientData.AltMobileno != undefined && PatientData.AltMobileno !=''">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment" >-->
                                                    <span class="LinkName" ng-show="PatientData.AltMobileno != null && PatientData.AltMobileno != ''">mo2</span>
                                                </span>
                                            </p>
                                            <ul class="profile-data">
                                                <li style="width:100%;">
                                                    <span class="patient-gander p-l-0">Address : jayraj colonoy1,kotharud,karve road,Vishwakala,Nagpur,656959</span>
                                                </li>
                                            </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Male visit-->
                    <div class="col-lg-12" ng-hide="IsFemale">
                        <div class="PatientInfoWrapper">
                            <div class="BlueWrap" style="min-height:80px;">
                                <div class="ProfileImgWrap">
                                    @*<img ng-if="PatientData.PhotoString !=''" ng-src="{{PatientData.PhotoString}}" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==1" ng-src="../images/Male_default.jpg" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==2" ng-src="../images/Female_default.jpg" class="profile">*@
                                    <img src="../images/Male_default.jpg" class="profile">
                                </div>
                                <div class="ProfileInfoWrap">
                                    <p class="m-b-0">

                                        <span class="Capitalize PatientName">{{CoupleDetails.MalePatient.MalePatientName}}</span>
                                        <span class="MRN-Green">
                                            <span> {{CoupleDetails.MalePatient.MaleMRNO}}</span>
                                        </span>
                                        <span class="patient-gander p-l-5">@PIVF.LanguageResource.Resources.lblMale /</span>@*Male :: Modified by swatih for localization 28/7/2020*@
                                        <span class="patient-gander">{{CoupleDetails.MalePatient.MaleAgeInYr}} @PIVF.LanguageResource.Resources.lblYrs</span>@*Yrs :: Modified by swatih for localization 28/7/2020*@
                                        @*<span class="patient-gander iconInfoLine">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment"> -->
                                                    <span class="LinkName">+91 9878967987</span>
                                                </span>
                                                <span class="patient-gander iconInfoLine" ng-show="PatientData.AltMobileno != undefined && PatientData.AltMobileno !=''">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment" >-->
                                                    <span class="LinkName" ng-show="PatientData.AltMobileno != null && PatientData.AltMobileno != ''">+91 9878967987</span>
                                                </span>
                                            </p>
                                            <ul class="profile-data">
                                                <li style="width:100%;">
                                                    <span class="patient-gander p-l-0">Address : jayraj colonoy1,kotharud,karve road,Vishwakala,Nagpur,656959</span>
                                                </li>
                                            </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-horizontal m-t-5 m-b-5 ">
                        <div class="input-group">

                            <input type="text" class="form-control" id="txtfullName"
                                   ng-blur="LinkModel=''"
                                   placeholder="@PIVF.LanguageResource.Resources.lblvNameMRNo" name="txtUsrName"
                                   ng-model="LinkModel"
                                   uib-typeahead="i as (i.PatientName) for i in getLinkMatchingPatient($viewValue) | limitTo : 8"
                                   typeahead-on-select="onLinkSelect(LinkModel)" typeahead-input-formatter="a" autofocus>

                        </div>
                    </div><div class="clear"></div>
                    <div class="col-lg-12" ng-hide="Partner.Select" ng-init="Partner.Select=true">
                        <div class="PatientInfoWrapper">
                            <div class="BlueWrap" style="min-height:80px;">
                                <div class="ProfileImgWrap">
                                    @*<img ng-if="PatientData.PhotoString !=''" ng-src="{{PatientData.PhotoString}}" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==1" ng-src="../images/Male_default.jpg" class="profile">
                                        <img ng-if="(PatientData.PhotoString =='') && PatientData.GenderId==2" ng-src="../images/Female_default.jpg" class="profile">*@
                                    <img src="../images/Female_default.jpg" class="profile" ng-hide="!IsMale">
                                    <img src="../images/Male_default.jpg" class="profile" ng-hide="!IsFemale">
                                </div>
                                <div class="ProfileInfoWrap">
                                    <p class="m-b-0">
                                        @*<span class="PatientName p-l-20">Mr.</span>*@
                                        <span class="Capitalize PatientName">{{Partner.Name}}</span>
                                        <span class="MRN-Green">
                                            <span> {{Partner.MRNo}}</span>
                                        </span>
                                        <span class="patient-gander p-l-5" ng-hide="!IsFemale">@PIVF.LanguageResource.Resources.lblMale /</span>@*Male :: Modified by swatih for localization 28/7/2020*@
                                        <span class="patient-gander p-l-5" ng-hide="!IsMale">@PIVF.LanguageResource.Resources.lblFemale /</span>@*Female :: Modified by swatih for localization 28/7/2020*@
                                        <span class="patient-gander">{{Partner.Age}} @PIVF.LanguageResource.Resources.lblYrs</span>@*Yrs :: Modified by swatih for localization 28/7/2020*@
                                        @*<span class="patient-gander iconInfoLine">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment"> -->
                                                    <span class="LinkName">+91 9878967987</span>
                                                </span>
                                                <span class="patient-gander iconInfoLine" ng-show="PatientData.AltMobileno != undefined && PatientData.AltMobileno !=''">
                                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                                    <!-- <img src="images/Icon_UAppointment.png" alt="Appointment" >-->
                                                    <span class="LinkName" ng-show="PatientData.AltMobileno != null && PatientData.AltMobileno != ''">+91 9878967987</span>
                                                </span>
                                            </p>
                                            <ul class="profile-data">
                                                <li style="width:100%;">
                                                    <span class="patient-gander p-l-0">Address : jayraj colonoy1,kotharud,karve road,Vishwakala,Nagpur,656959</span>
                                                </li>
                                            </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="txtfullName" ng-click="linkPartner()">@PIVF.LanguageResource.Resources.lblLinkPartner</button>@*//Modified by swatih for localization on 10/7/2020*@
            <button class="btn btn-default " data-dismiss="modal" type="button" id="" ng-click="ResetLinkPartner('Cancel')">@PIVF.LanguageResource.Resources.btnCancel</button>@*//Modified by swatih for localization on 10/7/2020*@
        </div>
    </div>
</script>
@* / Link Partner *@
<script type="text/ng-template" id="VisitRemark">
    @*<div class="modal fade" id="remarkModal" role="dialog">*@


    <div class="modal-header">
        <button type="button" class="close" ng-click="ReasonCancel()">&times;</button>
        <h4 class="modal-title">@PIVF.LanguageResource.Resources.lblAddRemark</h4>@*//Add Remark :: Modified by SwatiH for Localization on 10/7/2020*@
    </div>
    <div class="modal-body">
        <textarea class="form-control" ng-model="VisitRemark" maxlength="255"></textarea>   @*maxlength="255"  added by Nayan Kamble on 18/11/2019*@
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="SaveRemark(VisitRemark)">@PIVF.LanguageResource.Resources.btnSave</button>@*//Modified by swatih for localization on 10/7/2020*@
        <button type="button" class="btn btn-default" ng-click="ReasonCancel()">@PIVF.LanguageResource.Resources.btnCancel</button>@*//Modified by swatih for localization on 10/7/2020*@
    </div>


    @*</div>*@
</script>

@*<script>
        $(document).ready(function () {
            var divHeight = $('.table').height();
            $('.table-responsive.fixed_header').css('height', divHeight + 10 + 'px');
        });
    </script>*@


