@{
    Layout = null;
}
<style>
    .effectfront {
        border: 1px solid #777777;
        margin: 0 auto;
        width: 40px;
        height: 35px;
    }

        .effectfront:hover {
            -webkit-transform: scale(5);
            -moz-transform: scale(5);
            -o-transform: scale(5);
            transform: scale(5);
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            z-index: 66666;
            position: absolute;
            background: #c0c0c0;
        }

    .valid {
        border: 1px solid none;
        color: #635f5f;
    }

    .invalid {
        box-shadow: none;
        border: 1px solid red;
    }

    .has-error input {
        border: 1px solid red !important;
    }

    .rowPestalGreen {
        background: #77dd77 !important;
    }

    .SelectRow {
        background: #FFC0CB !important;
    }
</style>
<div ng-controller="FollicularScanController" style="position: relative;
        z-index: 11;">
    <div class="customMainContaint" style="padding:0px;"    ng-init="PageInitialization()">
     
        <div class="form_Content" style="margin-top: 0px !important;">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-right m-b-10">
                    <a class="link" href="" ng-click="GoToStimulationChart()"><span ng-hide="CycleDetails==null">@PIVF.LanguageResource.Resources.lblStimulationChart</span></a>@*Stimulation Chart::Modified by swatih for localization on 14/7/2020*@
                </div>
            </div>
            <form name="frmFScan" novalidate>
                <div class="row form-horizontal">
                    <div class="col-md-5 col-lg-3">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                <span class="text-Red">*</span>@PIVF.LanguageResource.Resources.lblDate @*Date::Modified by swatih for localization on 14/7/2020*@
                            </label>
                            <div class="col-md-12 col-lg-12">
                                <div class="input-group date" ng-class="{invalid:frmFScan.SSRDate.$invalid && frmFScan.SSRDate.$dirty}">
                                    <input type="text" class="form-control"
                                           id="SSRDate"
                                           name="SSRDate"
                                           min-date="minDate"
                                           max-date="maxDate"
                                           placeholder="dd-Mmm-yyyy"
                                           ng-model="FollicularScan.FollicularScanDate"
                                           aria-describedby=""
                                           uib-datepicker-popup="{{format}}"
                                           show-button-bar="false"
                                           is-open="popup1.opened"
                                           datepicker-options="dateOptions"
                                           alt-input-formats="altInputFormats"
                                           ng-disabled="true"
                                           tabindex="1" autofocus>
                                    <span class="input-group-addon" id="" ng-click="open1()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-2 ">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                <span class="text-Red">*</span>@PIVF.LanguageResource.Resources.lblTime @*Time::Modified by swatih for localization on 14/7/2020*@
                            </label>
                            <div class="col-md-12 col-lg-12">
                                <div uib-timepicker ng-model="FollicularScan.FollicularScanTime"
                                     id="FollicularScanTime"
                                     class="timeCss"
                                     name="FollicularScanTime"
                                     ng-class="{'has-error':frmFScan.FollicularScanTime.$invalid && frmFScan.FollicularScanTime.$dirty  }"
                                     hour-step="1"
                                     minute-step="1"
                                     @*max="maxTime"
                                 min="minTime"*@
                                     show-meridian="false"
                                     show-spinners="false"
                                     show-seconds="false"
                                     ng-disabled="true"
                                     tabindex="2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-2">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                <span class="text-Red"></span> @PIVF.LanguageResource.Resources.lblLMPDate @*LMP Date ::Modified by swatih for localization on 14/7/2020*@
                            </label>
                            <div class="col-md-12 col-lg-12">
                                <div class="input-group date" ng-class="{invalid:frmFScan.LMPDate.$invalid && frmFScan.LMPDate.$dirty}">
                                    <input type="text" class="form-control"
                                           id="LMPDate"
                                           ng-disabled="!IsCycleCodeLblDisabled"
                                           name="LMPDate"
                                           ng-change="SetCycleDay()"
                                           placeholder="dd-Mmm-yyyy"
                                           ng-model="FollicularScan.LMPDate"
                                           aria-describedby=""
                                           uib-datepicker-popup="{{format}}"
                                           show-button-bar="false"
                                           is-open="popup2.opened"
                                           datepicker-options="dateOptions2"
                                           alt-input-formats="altInputFormats"
                                           tabindex="1" autofocus>
                                    <span class="input-group-addon" id="" ng-click="open2()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-2 ">
                        <div class="form-group">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                               @PIVF.LanguageResource.Resources.lblCycleDay
                            </label> @*Cycle Day ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="text" class="form-control" ng-model="FollicularScan.CycleDay" id="txtCycleDay" name="txtCycleDay" ng-disabled="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 ">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="" ng-hide="IsCycleCodeLblDisabled">
                               @PIVF.LanguageResource.Resources.lblCycleCode
                            </label>  @*Cycle Code ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <label class="control-label " >{{FollicularScan.Cyclecode}}</label>
                            </div>
                            @*<div class="col-md-12 col-lg-12">
                                    <input type="text" class="form-control" id="" placeholder="" ng-model="SelectedPatient" uib-typeahead="i as (i.Description) for i in getMatchingCycleCode($viewValue)  | limitTo : 8" typeahead-on-select="onSelect($item, $model, $label)" ng-hide="IsCycleCodeDisabled" tabindex="3" />
                                </div>*@
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="table-responsive table-bordered fixed_header">
                            @*"min-height:175px; max-height:195px;"*@
                            @*<table class="table" id="">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="5">Left Ovary</th>
                                            <th class="text-center" colspan="5">Right Ovary</th>
                                        </tr>
                                        <tr>
                                            <th width="70px">Sno</th>
                                            <th colspan="3" class="text-center">Dimension (in cm)</th>
                                            <th width="150px" class="text-center">Average</th>
                                            <th width="70px">Sno</th>
                                            <th colspan="3" class="text-center">Dimension (in cm)</th>
                                            <th width="150px" class="text-center">Average</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="Item in FollicularScan.ListItem track by $index">
                                            <td>{{$index + 1}}</td>
                                            <td width="80px"><input type="text" tabindex="{{$index + 4}}" class="form-control" id="LeftA{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionLength" allow-decimal-numbers-one-and-two /></td>
                                            <td width="50px" class="text-center">X</td>
                                            <td width="80px"><input type="text" tabindex="{{$index + 5}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionBreadth" allow-decimal-numbers-one-and-two /></td>
                                            <td class="text-center">{{LeftOvaryTotal(Item.LeftOvaryDimensionLength,Item.LeftOvaryDimensionBreadth)}}</td>
                                            <td>{{$index + 1}}</td>
                                            <td width="80px"><input type="text" tabindex="{{$index + 38}}" class="form-control" id="RightA{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionLength" allow-decimal-numbers-one-and-two /></td>
                                            <td width="50px" class="text-center">X</td>
                                            <td width="80px"><input type="text" tabindex="{{$index + 39}}" class="form-control" id="RightB{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionBreadth" allow-decimal-numbers-one-and-two /></td>
                                            <td class="text-center">{{RightOvaryTotal(Item.RightOvaryDimensionLength,Item.RightOvaryDimensionBreadth)}}</td>
                                        </tr>
                                    </tbody>
                                </table>*@
                            <table class="table" style="min-height:120px;max-height:300px;min-width:800px;">
                                <thead>
                                    <tr>
                                        <th st-ratio="15" class="text-center">&nbsp;</th>
                                        <th st-ratio="35" class="text-center">@PIVF.LanguageResource.Resources.lblLeftOvary</th>@*Left Ovary :: Commented by swatih for localization on 14/7/2020*@
                                        <th st-ratio="15" class="text-center">&nbsp;</th>
                                        <th st-ratio="35" class="text-center">@PIVF.LanguageResource.Resources.lblRightOvary</th>@*Right Ovary :: Commented by swatih for localization on 14/7/2020*@
                                    </tr>

                                    <tr>
                                        <th st-ratio="5" class="text-center">@PIVF.LanguageResource.Resources.lblSno</th> @*width="70px"*@ @*Sno::Modified by swatih for localization on 14/7/2020*@
                                        @*<th st-ratio="22" colspan="3" class="text-center" ng-hide="true">Dimension (in mm)</th>@**@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblFollicleSize</th>@*width="150px"*@@*Follicle Size::Modified by swatih for localization on 14/7/2020*@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblRI</th>@*RI::Modified by swatih for localization on 14/7/2020*@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblPSV</th>@*PSV::Modified by swatih for localization on 14/7/2020*@
                                        <th st-ratio="5" class="text-center">@PIVF.LanguageResource.Resources.lblSno</th>@*width="70px"*@@*Sno::Modified by swatih for localization on 14/7/2020*@
                                        @*<th st-ratio="22" colspan="3" class="text-center" ng-hide="true">Dimension (in mm)</th>@**@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblFollicleSize</th> @*width="150px"*@@*Follicle Size::Modified by swatih for localization on 14/7/2020*@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblRI</th>@*RI::Modified by swatih for localization on 14/7/2020*@
                                        <th st-ratio="15" class="text-center">@PIVF.LanguageResource.Resources.lblPSV</th>@*PSV ::Modified by swatih for localization on 14/7/2020*@
                                    </tr>
                                    <tr style="background:#ffffff" ng-if="FollicularScan.CycleDay < 10 || IsCycleCodeLblDisabled">
                                        <th st-ratio="5" class="text-center" style="background:#ffffff">@PIVF.LanguageResource.Resources.lblAFC</th> @*width="70px"*@ @*AFC::Modified by swatih for localization on 14/7/2020*@
                                        @*<th st-ratio="22" colspan="3" class="text-center" ng-hide="true">Dimension (in mm)</th>@**@
                                        <th st-ratio="45" class="text-center" style="background:#ffffff"><input type="text" class="form-control" placeholder="" ng-model="FollicularScan.LeftAFC"  maxlength="5" @*allow-decimal-numbers*@  /></th>@*width="150px"*@
                                        <th st-ratio="5" class="text-center" style="background:#ffffff">@PIVF.LanguageResource.Resources.lblAFC</th>@*width="70px"*@@*AFC::Modified by swatih for localization on 14/7/2020*@

                                        @*<th st-ratio="22" colspan="3" class="text-center" ng-hide="true">Dimension (in mm)</th>@**@
                                        <th st-ratio="45" class="text-center" style="background:#ffffff"><input type="text" class="form-control" placeholder="" ng-model="FollicularScan.RightAFC" maxlength="5" @*allow-decimal-numbers*@  /></th>@*width="150px"*@
                                    </tr>

                                </thead>
                                <tbody>


                                    <!--<tr ng-repeat="Item in FollicularScan.ListItem track by $index">
                                          <td st-ratio="14">{{$index + 1}}</td>
                                          <td st-ratio="10"><input type="text" tabindex="{{$index + 4}}" class="form-control" id="LeftA{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionLength" allow-decimal-numbers-one-and-two /></td>@*width="80px"*@
                                          <td st-ratio="2" class="text-center">X</td> @*width="50px"*@
                                          <td st-ratio="10"><input type="text" tabindex="{{$index + 5}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionBreadth" allow-decimal-numbers-one-and-two /></td>@*width="80px"*@
                                          <td st-ratio="20" class="text-center">{{LeftOvaryTotal(Item.LeftOvaryDimensionLength,Item.LeftOvaryDimensionBreadth)}}</td>
                                          <td st-ratio="10">{{$index + 1}}</td>
                                          <td st-ratio="10"><input type="text" tabindex="{{$index + 38}}" class="form-control" id="RightA{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionLength" allow-decimal-numbers-one-and-two /></td>@*width="80px"*@
                                          <td st-ratio="2" class="text-center">X</td>@*width="50px"*@
                                          <td st-ratio="10"><input type="text" tabindex="{{$index + 39}}" class="form-control" id="RightB{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionBreadth" allow-decimal-numbers-one-and-two /></td>@*width="80px"*@
                                          <td st-ratio="20" class="text-center">{{RightOvaryTotal(Item.RightOvaryDimensionLength,Item.RightOvaryDimensionBreadth)}}</td>
                                      </tr>-->
                                    <tr ng-repeat="Item in FollicularScan.ListItem track by $index">
                                        <td st-ratio="5" class="text-center">{{$index + 1}}</td>
                                        @*<td st-ratio="10"><input type="number" max="30" min="0" tabindex="{{$index + 4}}" class="form-control" id="LeftA{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionLength" limit-to-max ng-hide="true"/></td>@*width="80px"*@
                                        @*<td st-ratio="2" class="text-center" ng-hide="true">X</td> @*width="50px"*@
                                        @*<td st-ratio="10"><input type="number" max="30" min="0" tabindex="{{$index + 5}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionBreadth" limit-to-max ng-hide="true"/></td>@*width="80px"*@
                                        @*<td st-ratio="20" class="text-center">{{LeftOvaryTotal(Item.LeftOvaryDimensionLength,Item.LeftOvaryDimensionBreadth)}}</td>*@
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 1}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftOvaryDimensionAvg"  @*allow-decimal-numbers*@ /></td>@*width="80px"*@
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 21}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftRI"  @*allow-decimal-numbers*@ /></td>
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 22}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.LeftPSV"  @*allow-decimal-numbers*@ /></td>
                                        <td st-ratio="5" class="text-center">{{$index + 1}}</td>
                                        @*<td st-ratio="10"><input type="number" max="30" min="0" tabindex="{{$index + 38}}" class="form-control" id="RightA{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionLength" limit-to-max ng-hide="true"/></td>@*width="80px"*@
                                        @*<td st-ratio="2" class="text-center" ng-hide="true">X</td>@*width="50px"*@
                                        @*<td st-ratio="10"><input type="number" max="30" min="0" tabindex="{{$index + 39}}" class="form-control" id="RightB{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionBreadth" limit-to-max ng-hide="true"/></td>@*width="80px"*@
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 61}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.RightOvaryDimensionAvg" @*allow-decimal-numbers*@ /> </td>@*width="80px"*@
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 81}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.RightRI" @*allow-decimal-numbers*@ /></td>@*width="80px"*@
                                        <td st-ratio="15"><input type="text" maxlength="5" max="25" min="0" tabindex="{{$index + 82}}" class="form-control" id="LeftB{{$index + 1}}" placeholder="" ng-model="Item.RightPSV" @*allow-decimal-numbers*@ /></td>@*width="80px"*@
                                        @*<td st-ratio="20" class="text-center">{{RightOvaryTotal(Item.RightOvaryDimensionLength,Item.RightOvaryDimensionBreadth)}}</td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group " ng-hide="IsDisableUpdate">
                            <label class="col-md-12 col-lg-12 control-label " id="text-right" for="">
                                <a ng-click="objRgt.IsCreate?LoadNext5Rows():0" tabindex="100">@PIVF.LanguageResource.Resources.lblAdd5Rows</a>@*Add 5 Rows ::Modified by swatih for localization on 14/7/2020*@
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblEndometriumThickness_mm
                            </label>@*Endometrium Thickness(mm)::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="text" name="myDecimal" tabindex="101" class="form-control" placeholder="" ng-model="FollicularScan.EndometriumThickness" /> @*ng-keydown="valiadeEndometriumThick(FollicularScan.EndometriumThickness,$event)"*@
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblRI
                            </label>@*RI::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="text" name="txtRI" tabindex="102" class="form-control" placeholder="" ng-model="FollicularScan.RI" maxlength="5" @*allow-decimal-numbers*@ />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblPSV
                            </label>@*PSV::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="text" name="txtPSV" tabindex="103" class="form-control" placeholder="" ng-model="FollicularScan.PSV" maxlength="5" @*allow-decimal-numbers*@ />
                            </div>
                        </div>
                    </div>

                 



                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblEndometriumMorphology
                            </label>@*Endometrium Morphology ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <select id="ddlPatientSourceOfReference"
                                        ng-model="FollicularScan.EndometriumMorphologyID"
                                        class="form-control"
                                        tabindex="104"
                                        ng-options="item.ID as item.Description for item in EndometriumMorphologyList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblCystinLeftOvary
                            </label>@*Cyst in Left Ovary ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="text" id="" name="CystDecimal" tabindex="105" class="form-control" maxlength="7" @*allow-decimal-numbers*@ ng-model="FollicularScan.Cyst" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblCystinRightOvary
                            </label>@*Cyst in Right Ovary ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-12 col-lg-12">
                                <input type="number" id="" name="CystDecimal" tabindex="106" class="form-control" maxlength="7" @*allow-decimal-numbers*@ ng-model="FollicularScan.RCyst" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 form-horizontal">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">@PIVF.LanguageResource.Resources.lblRemarks</label>@*Remarks ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-11 col-lg-11 p-r-0">
                                <textarea type="text" class="form-control" id="" placeholder="" ng-model="FollicularScan.FollicularScanRemark" maxlength="250" tabindex="107"></textarea>
                            </div>
                            <label class="col-md-1 col-lg-1 lastLabel control-label" for="">{{250-FollicularScan.FollicularScanRemark.length}}</label>
                        </div>

                        @*<div class="form-group ">
                                <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="">
                                    <span class="text-Red">*</span>Follow Up Notes
                                </label>
                                <div class="col-md-11 col-sm-11 col-lg-11 p-r-0 areaHeight">
                                    <textarea type="text" id="FollowUpNotes" name="FollowUpNotes" class="form-control" for="" ng-model="FemaleComplaints.FollowUpNotes" maxlength="250" ng-class="{select:frmFemaleComplaints.FollowUpNotes.$invalid && frmFemaleComplaints.FollowUpNotes.$dirty}" ng-required="true"></textarea>
                                </div>
                                <label class="col-md-1 col-sm-1 col-lg-1 lastLabel control-label" for="">{{250-FemaleComplaints.FollowUpNotes.length}}</label>
                            </div>*@
                        @*<div class="form-group ">
                                <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="">
                                    <span class="text-Red"></span>
                                </label>
                                <div class="col-md-11 col-sm-11 col-lg-11 p-r-0 areaHeight">
                                    <textarea type="text" id="FollowUpNotes" name="FollowUpNotes" class="form-control" for="" ng-model="FemaleComplaints.FollowUpNotes" maxlength="250" ng-class="{select:frmFemaleComplaints.FollowUpNotes.$invalid && frmFemaleComplaints.FollowUpNotes.$dirty}" ng-required="true"></textarea>
                                </div>
                                <label class="col-md-1 col-sm-1 col-lg-1 lastLabel control-label" for=""></label>
                            </div>*@

                    </div>
                    <!-- <div class="col-md-6 col-lg-6 form-horizontal">
                        <div class="form-group p-b-30">
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="">Doctor
                            </label>
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label" for="">Dr.Priyanka Gore
                            </label>
                        </div>
                    </div> -->
                    <div class="col-md-3 col-lg-3 form-horizontal ">
                        <div class="form-group ">
                            <label class="col-md-12 col-lg-12 control-label" for="">
                                @PIVF.LanguageResource.Resources.lblAttachment
                            </label>@*Attachment ::Modified by swatih for localization on 14/7/2020*@
                            <div class="col-md-2 col-lg-2 p-r-0 UserImageUploadContainer img-attach">
                                <file-uploadforfolicular class="btn btn-primary fileinput-button"
                                                         name="PelvicSurgery" resize="true"
                                                         max-width="100" max-height="100"
                                                         ng-model="FollicularScan.FollicularDetails.model"
                                                         multiple="true"
                                                         tabindex="84"
                                                         callback-fn="ValidationMsg(arg1)"
                                                         accept="image/*">
                                    <span>@PIVF.LanguageResource.Resources.lblAttach</span>@*Attach ::Modified by swatih for localization on 14/7/2020*@
                                </file-uploadforfolicular>
                            </div>
                            <div class="col-md-2 col-lg-1" ng-repeat="file in FollicularScan.FollicularDetails.model">
                                <div class="attach-proff text-center">
                                    <img ng-src="{{file.preview}}" class="effectfront">
                                </div>
                                <div class="text-center">
                                    <button class="btn btn_delete" ng-disabled="IsDisableUpdate" type="button" ng-click="RemoveImg(file)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-6 form-horizontal">
                        <div class="form-group ">
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label " for="">Doctor
                            </label>
                            <label class="col-sm-12 col-md-12 col-lg-12 control-label p-t-0" for="">Dr.Priyanka
                            </label>
                        </div>
                    </div> -->
                </div>
                <!-- Save Cancle Buttons -->
                <div class="row form-horizontal m-t-10">
                    <div class="col-md-12 col-lg-12" style="display:flex; justify-content:flex-end; align-items: center; gap : 20px;">
                        <button class="btn btn-primary" id="DICOMList" ng-hide="FollicularScan.IsFinalize" ng-click="ViewAllDICOM()"> @PIVF.LanguageResource.Resources.lblvViewAllDICOMStudy</button>
                        <button class="btn btn-primary" id="DICOM" ng-hide="FollicularScan.DICOMLink ==null || FollicularScan.DICOMLink == undefined || FollicularScan.DICOMLink =='' " ng-click="openDICOMLink()"> @PIVF.LanguageResource.Resources.lblvViewDICOMStudy</button>
                        <label class="checkbox-inline p-t-0"><input type="checkbox" id="inlineCheckbox1" value="option1" tabindex="85" ng-model="FollicularScan.IsFinalize" ng-disabled="IsDisableUpdate"> @PIVF.LanguageResource.Resources.lblFinalize</label>@*Finalize:: Modified by swatih for localization on 14/7/2020*@
                        <button class="btn btn-primary" type="button" id="btnSaveFollicularScan" value="" tabindex="86" ng-click="SaveOrUpdateFollicularScan()" ng-disabled="IsDisableUpdate">@PIVF.LanguageResource.Resources.btnSave</button>@*Save:: Modified by swatih for localization on 14/7/2020*@
                        <button class="btn btn-primary " type="button" value="" ng-click="Printfollicularscan()"> @PIVF.LanguageResource.Resources.btnPrint </button>@*Print :: Modified by swatih for localization on 14/7/2020*@
                        @*<button class="btn btn-primary" type="button" id="" value="" tabindex="87">Cancel</button>*@@*<button class="btn btn-primary" type="button" id="" value="" tabindex="87">Cancel</button>*@
                    </div>
                </div>
            </form>
        </div>
       
        <div class="form_Content m-b-5">
            <h5 class="subTitle">@PIVF.LanguageResource.Resources.lblPreviousFollicularScan</h5>@*Previous Follicular Scan::Modified by swatih for localization on 14/7/2020*@
            <div class="table-responsive fixed_header">
                <table class="table table-hover table-striped" style="min-width:530px;height: calc(100vh - 921px);"> @* min-height:150px;max-height:325px; *@
                    <thead>
                        <tr>
                            <th st-ratio="8">Sno.</th>@*width="40"*@
                            <th st-ratio="17" ng-click="SortData1('Cyclecode')">@PIVF.LanguageResource.Resources.lblCycleCode<div ng-class="sortClass1"></div></th>@*Cycle Code::Modified by swatih for localization on 14/7/2020*@
                            <th st-ratio="17" ng-click="SortData1('TherapyDate')">@PIVF.LanguageResource.Resources.lblDate<div ng-class="sortClass1"></div></th>@*Date::Modified by swatih for localization on 14/7/2020*@
                            <th st-ratio="25" ng-click="SortData1('ARTMain')">@PIVF.LanguageResource.Resources.lblART<div ng-class="sortClass1"></div></th>@*ART::Modified by swatih for localization on 14/7/2020*@
                            <th st-ratio="25" ng-click="SortData1('DoctorName')">@PIVF.LanguageResource.Resources.lblDoctor<div ng-class="sortClass1"></div></th>@*Doctor::Modified by swatih for localization on 14/7/2020*@
                            <th st-ratio="8">@PIVF.LanguageResource.Resources.lblEdit</th>@*width="50"*@@*Edit::Modified by swatih for localization on 14/7/2020*@
                            @*<th st-ratio="9">Print</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-class="{'rowPestalGreen':item.IsFinalize == true,'SelectRow':item.SelectRow == true }" ng-repeat="item in PreviousFollicularScan |orderBy:SortColumn1:reverseSort1">
                            @*track by $index*@
                            <td st-ratio="8">{{$index+1}}</td>
                            <td st-ratio="17">{{item.Cyclecode}}</td>
                            <td st-ratio="17">{{item.TherapyDate | date :  "dd-MMM-yyyy"}}</td>
                            <td st-ratio="25">{{item.ARTMain}}<br />{{item.ARTSub}} </td>
                            <td st-ratio="25">{{item.DoctorName}} </td>
                            <td st-ratio="8">
                                <button id="FS_{{$index}}" type="button" title="@PIVF.LanguageResource.Resources.lblEdit" ng-disabled="item.DisableEdit" class="btn btn_edit" ng-click="objRgt.IsUpdate?EditFollicularScan(item):0"></button>
                            </td>
                            @*<td st-ratio="9">
                                    <button id="" type="button" title="Print" class="" ng-click="Printfollicularscan()">Print</button>
                                </td>*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
    <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="GridSpinner" spinner-start-active="true"></span>
</div>
